* {
    font-family: sans-serif;
}
ul {
    list-style-type: none;
}

.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: #101010;
}

.inner_header{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo_container{
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: sans-serif;
}


.container {
    display: inline-block;
    border: 2px solid black;
    padding: 20px;
    margin: 40px;
}

.navigation {
    float: right;
    height: 80px;
    margin: 0;
}

.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0 20px;
    text-decoration: none;
}
.navigation a:last-child {
    padding-right: 0;
}
.navigation a li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: sans-serif;
    font-size: 16px;
}


.content_wrap table {
    display: inline;
    border-collapse: collapse;
    margin: 25px 20px;
    font-size: 0.9em;
    font-weight: normal;
}

.table_header{
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content_wrap table th,
.content_wrap table td {
    padding: 12px 15px;
    min-width: 150px;
}

.content_wrap table tbody tr{
    border-bottom: 1px solid #dddddd;
}

.content_wrap table tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.btn-1 {
    width: 150px;
    height: 50px;
    font-size: 0.9em;
    font-weight: bold;
    margin: 20px;
    border: none;
    color: white;
    background-color: #009879;
    border-radius: 12px;
}

.btn-1:hover {
    border: 3px solid #009879;;
    background-color: white;
    color: #009879;
}

.btn-1:active {
    border: none;
    background-color: #009879;
    color: white;
}

.new-item-form {
    width: 400px;
    height: 300px;
    border: 3px solid #dddddd;
    padding: 20px;
    margin: 20px;
}

.field {
    display: block;
    margin: 20px;
}

.field label {
    font-size: 0.9em;
}