{% extends "base.html" %}
{% block content %}
<div class="new-item-form">
    <form method="POST">
        {% csrf_token %}
        <div class="field">
            <label for="type">Options:</label>
            <select name="types" id="type">
                <option selected>Earning</option>
                <option>Payment</option>
                <option>Future Earning/Payment</option>
            </select>
        </div>
        <div class="field">
            <label for="amount">Amount:</label>
            <input type="numner" name="amount">
        </div>
        <div class="field">
            <label for="description">Description:</label>
            <input type="text" name="description">
        </div>
        <div class="field">
            <label for="datetime">Date & time:</label>
            <input type="datetime-local" name="datetime">
        </div>
        <div class="field">
            <label for="email">Email:</label>
            <input type="email" name="email">
        </div>
        <button class="btn-1" type="submit">Add</button>
    </form>
</div>

<div class="content_wrap">
    <table>
        <tr class="table_header"><th>Earnings</th></tr>
        {% for earn in earns %}
            <tr><td>${{ earn.amount }}</td></tr>
        {% endfor %}
    </table>

    <table>
        <tr class="table_header"><th>Payments</th></tr>
        {% for spend in spends %}
            <tr><td>${{ spend.amount }}</td></tr>
        {% endfor %}
    </table>

    <table>
        <tr class="table_header"><th>Recurring Earnings & Payments</th></tr>
        {% for repeat_event in repeat_events %}
            <tr><td>${{ repeat_event.amount }}</td></tr>
        {% endfor %}
    </table>
</div>
{% endblock %}